$orange: #EDA652;
$dark-orange: #DA942B;
$light-orange: #EFE7C4;
$blue-text: #334169;
$gray: #F5F0F0;
$beige: #EFE7C4;
$gray2: #D9D9D9;
$blue-text: #334169;
$orange-btn: #F6A451;
$black: #173442;
$light-grey: #565858;
$light-blue: #339AF0;
$beige: #EFE5C0;
$dark-grey: #444444;
$dark-grey-btn: #515353;
$dark-blue: #354E59;
$background-team: #D9E8F0;