$orange: #eda652;
$dark-orange: #da942b;
$light-orange: #efe7c4;
$blue-text: #334169;
$gray: #f5f0f0;
$beige: #efe7c4;
$gray2: #d9d9d9;
$blue-text: #334169;
$orange-btn: #f6a451;
$black: #173442;
$light-grey: #565858;
$light-blue: #339af0;
$beige: #efe5c0;
$dark-grey: #444444;
$dark-grey-btn: #515353;
$dark-blue: #354e59;
$background-team: #d9e8f0;
