@use "../var/mixins" as *;

.admin-categories {
  @media (max-device-width: 859px) {

    table, thead, tbody, th, td, tr {
      display: block;
      text-align: center;
    }

    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      margin: 0 0 1rem 0;
    }

    tr:nth-child(odd) {
      background: #ccc;
    }

    td {
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
    }

    td:before {
      position: absolute;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      max-width: 50%;
      top: 50%;
      transform: translateY(-50%);
    }

    td:nth-of-type(1):before {content: "Название";}
    td:nth-of-type(2):before {content: "Удалить";}
    td:nth-of-type(3):before {content: "Редактировать";}
  }

  @include md {
    table, thead, tbody, th, td, tr{
      padding: 5px;
      font-size: 0.75rem;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin: 0 auto;
    }
    td {
      width: 33.3%;
    }
  }
  @include lg {
    table, thead, tbody, th, td, tr{
      padding: 10px;
      font-size: 0.85rem;
    }
  }


}