@use "../var/colors" as *;
@use "../var/mixins" as *;

.login_btn, .sign-up_btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  background: transparent;
  color: $blue-text;
  border: 2px solid $blue-text;
  border-radius: 34px;
  padding: 6px 27px;
  margin: 0 5px;
  &:hover {
    border-color: #ffffff;
    color: #ffffff;
  }
  &:active {
    border-color: #ffffff;
    color: $blue-text;
  }
}