@use '../var/colors' as *;
@use '../var/mixins' as *;

header {
  position: relative;
  height: 100%;
}

.header {
  background: $orange;
  color: $blue-text;
  padding: 16px 0;
  @include md {
    background: $orange;
    padding-top: 24px;
    padding-bottom: 35px;
  }
  &-container {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @include md {
      display: block;
    }
  }
}
