@use "../var/colors" as *;
@use "../var/mixins" as *;

.article {
  display: flex;
  height: 100%;

  &-left-side {
    background-image: url("/workingGirl.png");
    background-repeat: no-repeat;
    background-position: 50% 15%;
    width: 45%;
    height: 400px;
  }

  &-right-side {
    width: 50%;
    &-titles {
      display: flex;
      &-title-white {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        text-transform: uppercase;
        color: transparent;
        -webkit-text-stroke: 1px $blue-text;
        text-stroke: 1px $blue-text;
      }
      &-title-orange {
        margin: auto 40px;
        color: $orange-btn;
        font-size: 40px;
        line-height: 48px;
        text-transform: uppercase;
        margin: auto 10px;
      }
    }
    &-description {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      padding: 0 170px 0 70px;
      margin: -30px 0 0;
    }
    &-btn {
      padding: 12px 50px;
      border-radius: 34px;
      border: 3px solid $beige;
      background: white;
      color: $blue-text;
      margin: 10px 70px 0 ;
    }
  }
}