@use '../var/colors' as *;
@use '../var/mixins' as *;

.button {
  background: $dark-orange;
  border: none;
  border-radius: 34px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.start_btn,
.contact_btn {
  width: 165px;
  height: 65px;
  padding: 20px 0 23px;
  margin-bottom: 14px;
  @include md {
    padding: 22px 42px;
    width: 251px;
  }
}

.start_btn {
  color: #ffffff;
  @include md {
    margin: 0 46px 0 100px;
  }
}

.contact_btn {
  color: $blue-text;
  background: transparent;
  border: 2px solid $dark-orange;
}

.auth_login_btn {
  color: #ffffff;
  width: 90px;
  height: 38px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin: 30px auto 0;
  text-transform: uppercase;
  &:hover {
    background: transparent;
    border: 2px solid $dark-orange;
    color: $dark-orange;
  }
  &:active {
    background: $dark-orange;
    border: 2px solid #ffffff;
    color: #ffffff;
  }
}

.register_signup_btn {
  color: #ffffff;
  width: 90px;
  font-weight: 500;
  font-size: 12px;
  line-height: 10px;
  margin: 30px auto;
  text-transform: uppercase;
  padding: 15px 0;
  &:hover {
    background: transparent;
    border: 2px solid $dark-orange;
    color: $dark-orange;
    padding: 15px 0;
  }
  &:active {
    background: $dark-orange;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 15px 0;
  }
}

.social_auth_btn {
  width: 50px;
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-indent: -999px;
  border-radius: 30px;
  border: none;
  &:hover {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);
  }
}

.auth_facebook {
  background-color: #405d9b;
  background-image: url('/facebook-icon.png');
  background-repeat: no-repeat;
  background-position: center;
}

.auth_linkedin {
  background-color: #0073b2;
  background-image: url('/linkedin-icon.png');
  background-repeat: no-repeat;
  background-position: center;
}

.auth_google {
  background-color: #dc4e41;
  background-image: url('/googleplus-icon.png');
  background-repeat: no-repeat;
  background-position: center;
}

.profile-btn-edit {
  border: 2px solid $dark-orange;
  color: #ffffff;
  border-radius: 22px;
  padding: 13px 29px;
  font-size: 14px;
  line-height: 17px;
  &:hover {
    background: transparent;
    color: $dark-orange;
  }
  &:active {
    background: $dark-orange;
    border: 2px solid #ffffff;
    color: #ffffff;
  }
}

.profile-btn-save {
  margin-top: 10px;
  border: 2px solid $dark-orange;
  color: #ffffff;
  border-radius: 22px;
  padding: 13px 29px;
  font-size: 14px;
  line-height: 17px;
  &:hover {
    background: transparent;
    color: $dark-orange;
  }
  &:active {
    background: $dark-orange;
    border: 2px solid #ffffff;
    color: #ffffff;
  }
}

.profile-btn-add {
  margin: 20px 10px 20px 0;
  border: 2px solid $dark-orange;
  color: #ffffff;
  border-radius: 22px;
  padding: 13px 29px;
  font-size: 14px;
  line-height: 17px;
  &:hover {
    background: transparent;
    color: $dark-orange;
  }
  &:active {
    background: $dark-orange;
    border: 2px solid #ffffff;
    color: #ffffff;
  }
}

.profile-btn-delete {
  background-color: red;
  margin: 20px 10px 20px 0;
  border: 2px solid red;
  color: #ffffff;
  border-radius: 22px;
  padding: 13px 29px;
  font-size: 14px;
  line-height: 17px;
  &:hover {
    background: transparent;
    color: red;
  }
  &:active {
    background: red;
    border: 2px solid #ffffff;
    color: #ffffff;
  }
}

.homework-btn {
  border: 2px solid $dark-orange;
  color: #ffffff;
  border-radius: 22px;
  padding: 13px 29px;
  font-size: 14px;
  line-height: 17px;
  &:hover {
    background: transparent;
    color: $dark-orange;
  }
  &:active {
    background: $dark-orange;
    border: 2px solid #ffffff;
    color: #ffffff;
  }
}

.module_show_btn {
  width: 29px;
  height: 29px;
  text-align: center;
  background-image: url('/keyboard-arrow-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  &:hover {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);
  }
}

.lesson_view_btn {
  position: absolute;
  bottom: 0;
  left: 148px;
  width: 138px;
  height: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $blue-text;
  background-image: url('/plus-ic.png');
  background-position: 90% 50%;
  background-repeat: no-repeat;
  padding-top: 14px;
  margin-bottom: 24px;
  &:hover {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);
  }
  @include md {
    position: static;
  }
}
