@use '../var/colors' as *;
@use '../var/mixins' as *;
$google-icon: '/googleplus-icon.png';
$linkedin-icon: '/linkedin-icon.png';
$facebook-icon: '/facebook-icon.png';
$keyboard-down-icon: '/keyboard-arrow-down.svg';

.button {
  background: $dark-orange;
  border: none;
  border-radius: 34px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  &:hover {
    background: lighten($dark-orange, 10%);
  }
}

.start_btn,
.contact_btn {
  width: 165px;
  height: 65px;
  padding: 20px 0 23px;
  margin-bottom: 14px;
  @include md {
    padding: 22px 42px;
    width: 251px;
  }
}

.start_btn {
  color: #ffffff;
  @include md {
    margin: 0 46px 0 100px;
  }
}

.contact_btn {
  color: $blue-text;
  background: transparent;
  border: 2px solid $dark-orange;
}

.auth_login_btn {
  color: #ffffff;
  width: 90px;
  height: 38px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin: 30px auto 0;
  text-transform: uppercase;
  &:hover {
    background: transparent;
    border: 2px solid $dark-orange;
    color: $dark-orange;
  }
  &:active {
    background: $dark-orange;
    border: 2px solid #ffffff;
    color: #ffffff;
  }
}

.register_signup_btn {
  color: #ffffff;
  width: 90px;
  font-weight: 500;
  font-size: 12px;
  line-height: 10px;
  margin: 30px auto;
  text-transform: uppercase;
  padding: 15px 0;
  &:hover {
    background: transparent;
    border: 2px solid $dark-orange;
    color: $dark-orange;
    padding: 15px 0;
  }
  &:active {
    background: $dark-orange;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 15px 0;
  }
}

.disabled {
  background: #c4c4c4 !important;
  &:hover {
    background: transparent;
    border: none;
    color: $dark-orange;
    padding: 15px 0;
  }
  &:active {
    background: $dark-orange;
    border: none;
    color: #ffffff;
    padding: 15px 0;
  }
}

.social_auth_btn {
  width: 50px;
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-indent: -999px;
  border-radius: 30px;
  border: none;
  &:hover {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);
  }
}

.auth_facebook {
  background-color: #405d9b;
  background-image: url($facebook-icon);
  background-repeat: no-repeat;
  background-position: center;
}

.auth_google {
  background-color: #dc4e41;
  background-image: url($google-icon);
  background-repeat: no-repeat;
  background-position: center;
}

.profile-btn-edit {
  line-height: 17px;
  border-radius: 22px;
  padding: 13px 29px;
  font-size: 14px;
  border: 2px solid $dark-orange;
  color: #ffffff;
  &:hover {
    color: $dark-orange;
    background: transparent;
  }
  &:active {
    border: 2px solid #ffffff;
    background: $dark-orange;
    color: #ffffff;
  }
}

.profile-btn-save {
  margin-top: 10px;
  color: #ffffff;
  border: 2px solid $dark-orange;
  border-radius: 22px;
  padding: 13px 29px;
  font-size: 14px;
  line-height: 17px;
  &:hover {
    background: transparent;
    color: $dark-orange;
  }
  &:active {
    background: $dark-orange;
    border: 2px solid #ffffff;
    color: #ffffff;
  }
}

.profile-btn-add {
  margin: 20px 10px 20px 0;
  color: #ffffff;
  border-radius: 22px;
  padding: 13px 29px;
  border: 2px solid $dark-orange;
  font-size: 14px;
  line-height: 17px;
  &:hover {
    background: transparent;
    color: $dark-orange;
  }
  &:active {
    background: $dark-orange;
    border: 2px solid #ffffff;
    color: #ffffff;
  }
}

.profile-btn-delete {
  background-color: red;
  margin: 20px 10px 20px 0;
  border: 2px solid red;
  color: #ffffff;
  border-radius: 22px;
  padding: 13px 29px;
  font-size: 14px;
  line-height: 17px;
  &:hover {
    background: transparent;
    color: red;
  }
  &:active {
    background: red;
    border: 2px solid #ffffff;
    color: #ffffff;
  }
}

.homework-btn {
  color: #ffffff;
  line-height: 17px;
  border-radius: 22px;
  padding: 13px 29px;
  font-size: 14px;
  border: 2px solid $dark-orange;
  &:hover {
    color: $dark-orange;
    background: transparent;
  }
  &:active {
    border: 2px solid #ffffff;
    color: #ffffff;
    background: $dark-orange;
  }
}

.module_show_btn {
  width: 29px;
  height: 29px;
  text-align: center;
  background-image: url($keyboard-down-icon);
  background-repeat: no-repeat;
  background-position: center;
  &:hover {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);
  }
}

.lesson_view_btn {
  position: absolute;
  bottom: 0;
  left: 148px;
  width: 138px;
  height: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $blue-text;
  //background-image: url('/plus-ic.png');
  background-position: 90% 50%;
  background-repeat: no-repeat;
  padding-top: 14px;
  margin-bottom: 24px;
  &:hover {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);
  }
  @include md {
    position: static;
  }
}

.recover-password_btn {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -0.02em;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #ffffff;
  padding: 14px;
  margin: auto;
  width: 200px;
}

.loader {
  width: 10px;
  height: 10px;
  border: 1px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}