@use "../var/colors" as *;
@use "../var/mixins" as *;
@import url('https://fonts.cdnfonts.com/css/craftwork-grotesk');

footer {
  .footer-block_feedback {
    border-radius: 50% 50% 0 0 / 10% 10% 0 0;
    background: linear-gradient(360deg, #EDA652 0%, rgba(217, 218, 146, 0.29) 100%);
    @include md {
      border-radius: 50% 50% 0 0 / 30% 30% 0 0;
      padding-top: 50px;
    }
    &_bg {
      padding-top: 325px;
      background-image: url("/main-footer.png"), url("/footer-circle.png");
      background-repeat: no-repeat;
      background-position: 55% 10%, 50% 5%;
      background-size: 270px 220px, 300px 280px;
      @include md {
        display: flex;
        justify-content: end;
        padding: 0 100px 0 15px;
        background-position: 19% 50%, 15% 50%;
      }
      @include lg {
        background-position: 20% 50%, 15% 70%;
        background-size: 478px 399px, 526px 512px;
      }
      &_title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        padding: 0 15px;
        text-align: center;
        margin-bottom: 15px;
        @include lg {
          text-align: left;
          align-self: start;
        }
        h6 {
          color: #173442;
          margin: 0;
        }
        span {
          display: block;
          color: $orange;
        }
      }
      &_form {
        font-family: 'Craftwork Grotesk';
        margin-top: 27px;
        display: flex;
        flex-direction: column;
        align-items: center;
        input {
          width: 257px;
          height: 19px;
          background: #FFFFFF;
          border-radius: 32px;
          border: none;
          margin-bottom: 23px;
          padding: 20px;
          @include lg {
            width: 373px;
          }
          &::placeholder {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            text-transform: lowercase;
          }
        }
        .feedback_textarea {
          background: #FFFFFF;
          border-radius: 32px;
          width: 257px;
          height: 82px;
          border: none;
          padding: 20px;
          margin-bottom: 34px;
          resize: none;
          @include lg {
            width: 373px;
          }
          &::placeholder {
            font-family: 'Craftwork Grotesk';
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            text-transform: lowercase;
          }
        }
        .feedback_send_btn {
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          text-transform: uppercase;
          color: $light-grey;
          padding: 22px 40px;
          margin-bottom: 30px;
          @include lg {
            align-self: start;
          }
        }
      }
    }
  }
  .footer-block_links {
    display: flex;
    flex-direction: column;
    @include md {
      background: #EDA652;
      flex-direction: row;
      padding: 0 15px;
      justify-content: space-between;
      padding-top: 20px;
    }
    &_social {
      .social_links_list {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        padding: 0 50px;
        a {
          width: 34px;
          height: 34px;
          background: #FFFFFF;
          overflow: hidden;
          text-indent: -100px;
          border-radius: 50%;
          box-shadow: 1px 4px 9px 3px rgba(0, 0, 0, 0.19);
          @include md {
            margin-left: 20px;
          }
          &:hover {
            transform: scale(1.2);
          }
        }
        .social_link_youtube {
          -webkit-mask-image: url("/social-youtube-ic.svg");
          -webkit-mask-position: 50% 85%;
          -webkit-mask-repeat: no-repeat;
          background-color: #183442;
          &:hover {
            background-color: #F6A451;
          }
        }
        .social_link_whatsapp {
          -webkit-mask-image: url("/social-whatsapp-ic.svg");
          -webkit-mask-position: 50% 85%;
          -webkit-mask-repeat: no-repeat;
          background-color: #183442;
          &:hover {
            background-color: #F6A451;
          }
        }
        .social_link_instagram {
          -webkit-mask-image: url("/social-instagram-ic.svg");
          -webkit-mask-position: 50% 85%;
          -webkit-mask-repeat: no-repeat;
          background-color: #183442;
          &:hover {
            background-color: #F6A451;
          }
        }
        .social_link_twitter {
          -webkit-mask-image: url("/social-twitter-ic.svg");
          -webkit-mask-position: 50% 85%;
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-size: 50%;
          background-color: #183442;
          &:hover {
            background-color: #F6A451;
          }
        }
        .social_link_facebook {
          -webkit-mask-image: url("/social-facebook-ic.svg");
          -webkit-mask-position: 50% 85%;
          -webkit-mask-repeat: no-repeat;
          background-color: #183442;
          &:hover {
            background-color: #F6A451;
          }
        }
      }
    }
    &_anchor {
      a {
        display: block;
        margin: 0 auto;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        text-indent: -150px;
        box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.13);
        background-image: url("/arrow-up-ic.png");
        background-position: center;
        background-repeat: no-repeat;
        @include md {
          background-color: #FFFFFF;
        }
      }
    }
    &_navigation {
      .links_navigation {
        &_list {
          list-style: none;
          text-align: center;
          padding: 0;
          @include md {
            text-align: left;
            margin-right: 50px;
          }
          a {
            text-decoration: none;
            font-family: 'Craftwork Grotesk';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: $light-grey;
            &:hover {
              color: $dark-orange;
            }
          }
        }
      }
    }
  }
}

