@use "../var/colors" as *;
@use "../var/mixins" as *;

.profile-block {
  margin-top: 40px;
  color: $blue-text;
  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
  }
  h5 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.profile-main-info-block {
  height: 300px;
  display: flex;
  form {
    margin-left: 30px;
  }
}

.profile-info-block {
  margin-left: 30px;
}

.profile-avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.profile-edit-form {

  &_box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    input {
      font-size: 10px;
      width: 273px;
      height: 38px;
      background: transparent;
      border: 1.3px solid #4994D0;
      border-radius: 12px;
      margin-bottom: 12px;
      padding: 0 10px;
    }

    label {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: $blue-text;
      margin-bottom: 10px;
      display: inline;
    }
  }
}

.homework-block {
  h2 {
    color: $blue-text;
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 70px;
    margin-top: 0;
  }
}

.homework-headlines-block {
  padding: 0 40px 0 40px;
  //display: flex;
  //text-align: center;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #4688C1;
  p {
    display: inline-block;
    color: $blue-text;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-top: 0;
  }
}

.card-for-homework-block {
  text-align: center;
  background-color: $light-orange;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #4688C1;
}

.profile-add-homework-form {
  width: 400px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 23px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.allHomeworks-block {
    margin-top: 40px;
    color: $blue-text;
    h1 {
      text-align: center;
      font-weight: 700;
      font-size: 28px;
      line-height: 34px;
    }
}