@use '../var/colors' as *;
@use '../var/mixins' as *;
@import url('https://fonts.cdnfonts.com/css/craftwork-grotesk');

.started {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: 0 30px;

  &-title {
    text-align: center;
    h4 {
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;
      text-transform: uppercase;
      color: transparent;
      -webkit-text-stroke: 1.3px $blue-text;
      text-stroke: 1.3px $blue-text;
      margin-top: 60px;
      @include sm {
        font-size: 35px;
        line-height: 38px;
      }
      @include md {
        font-size: 40px;
        line-height: 48px;
      }
    }
    span {
      color: $orange;
      -webkit-text-stroke: 1px $orange;
      text-stroke: 1px $orange;
    }
  }

  &-description {
    color: $dark-grey;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    @include sm {
      width: 55%;
      margin: 0 auto 30px;
    }
  }

  &-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include md {
      flex-direction: row;
      justify-content: space-between;
    }
    @include lg {
      justify-content: space-evenly;
    }
  }

  &-btn {
    align-self: center;
    color: $dark-grey-btn;
    background: $orange-btn;
    width: 280px;
    height: 75px;
    border: none;
    border-radius: 32px;
    text-transform: uppercase;
    margin: 70px auto;
    font-weight: 600;
    font-size: 19px;
    line-height: 23px;
    &:hover {
      color: white;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }
}

.start-card {
  position: relative;
  width: 277px;
  height: 277px;
  border-radius: 50%;
  border: 5px solid #1488ca;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  @include md {
    width: 235px;
    height: 235px;
  }
  @include lg {
    width: 300px;
    height: 300px;
  }
  &::after {
    position: absolute;
    bottom: -5px;
    left: -5px;
    content: '';
    width: 141.5px;
    height: 185px;
    border-radius: 0 0 0 277px;
    background-color: #ffffff;
    z-index: 0;
  }
  &::before {
    position: absolute;
    bottom: -53%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 277px;
    height: 277px;
    border: 4px dotted #1488ca;
    border-radius: 50%;
    z-index: 1;
    @include md {
      width: 235px;
      height: 235px;
    }
    @include lg {
      width: 300px;
      height: 300px;
    }
  }
  &_2 {
    border-color: #f6a451;
    &::after {
      position: absolute;
      top: -5px;
      left: -5px;
      content: '';
      width: 270px;
      height: 185px;
      border-radius: 0 0 0 277px;
      background-color: #ffffff;
      z-index: 0;
    }
    &::before {
      position: absolute;
      bottom: -53%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: '';
      width: 277px;
      height: 277px;
      border: 4px dotted #f6a451;
      border-radius: 50%;
      z-index: 1;
      @include md {
        width: 235px;
        height: 235px;
      }
      @include lg {
        width: 300px;
        height: 300px;
      }
    }
  }
  &_3 {
    border-color: #69c5eb;
    &::after {
      position: absolute;
      bottom: -5px;
      right: -5px;
      content: '';
      width: 236px;
      height: 91px;
      border-radius: 0 0 0 277px;
      background-color: #ffffff;
      z-index: 0;
    }
    &::before {
      position: absolute;
      bottom: -53%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: '';
      width: 277px;
      height: 277px;
      border: 4px dotted #69c5eb;
      border-radius: 50%;
      z-index: 1;
      @include md {
        width: 235px;
        height: 235px;
      }
      @include lg {
        width: 300px;
        height: 300px;
      }
    }
  }
  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 237px;
    height: 237px;
    border-radius: 50%;
    box-shadow: 1px 4px 8px 7px rgba(0, 0, 0, 0.18);
    font-family: 'Craftwork Grotesk', sans-serif;
    @include lg {
      width: 300px;
      height: 300px;
    }
    &_sub-title {
      display: inline-block;
      font-size: 18px;
      line-height: 22px;
      color: $orange;
      margin: 10px 33px 0;
      padding-top: 42px;
      background-image: url('/css_sprites-started.png');
      background-repeat: no-repeat;
      @include lg {
        margin: 20px 33px 0;
      }
    }
    .step_1 {
      background-position: 50% 56%;
    }
    .step_2 {
      background-position: 86% 56%;
    }
    .step_3 {
      background-position: 14% 56%;
    }
    &_title {
      font-size: 14px;
      line-height: 17px;
      margin: 0 33px 0;
      @include lg {
        font-size: 18px;
        line-height: 22px;
      }
    }
    &_description {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      color: $light-grey;
      margin: 5px 33px 0;
      @include lg {
        font-size: 14px;
        line-height: 17px;
        margin: 20px 33px 0;
      }
    }
  }
}
